<div class="col-xs-12 col-sm-2" id="left-sidebar">
	[%IF [@page_type@] eq 'category' and [@config:show_filters@]%]
		<div class="panel">
			<div class="panel-heading panel-heading-thumbnails visible-xs">
				<h3 class="panel-title">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#filters-accordion" href="#filters">Filter Products</a>
				</h3>
			</div>
			<ul id="filters" class="panel-collapse collapse list-group">
				[%PRODUCT_FILTER type:'variations' autohide:'0' sortoption:'sortorder'%]
					[%PARAM *header%]
						[%DATA id:'activecount' if:'>' value:'0'%]
							[%PARAM *if_true%]
								<a href="[@remove_url@]" class="pull-right"> clear</a>
							[%/PARAM%]
						[%/DATA%]
						<li class="list-group-item"><h4>Filter by [@filter_name@]</h4></li>
					[%/PARAM%]
					[%PARAM *body%]
						[%DATA id:'selected' if:'==' value:'1'%]
							[%PARAM *if_true%]
								<li class="filter-remove filter"><a href="[@remove_single_url@]" class="list-group-item" rel="nofollow">
									[@name@] <span class="text-muted"></span></a>
								</li>
							[%/PARAM%]
							[%PARAM *if_false%]
								<li class="filter">
									<a class="list-group-item" href="[@url@]"> [@name@] <span class="text-muted"></span></a>
								</li>
							[%/PARAM%]
						[%/DATA%]
						<%= content_tag :div, class: 'panel' do %>
							<%= content_tag :div, class: 'panel-heading' do %>
								<%= content_tag :h3, class: 'panel-title' do %>
								Filter by Height Range-
								<% end %>
							<% end %>
							<%= content_tag :div, class: 'panel-body' do %>
								<%= tag :input, id: 'height-range', type: 'range', min: '0', max: '100', value: '50' %>
								<%= content_tag :span, id: 'selected-height-range' do %>
								50
								<% end %>
							<% end %>
						<% end %>
						<%= content_tag :div, class: 'panel' do %>
							<%= content_tag :div, class: 'panel-heading' do %>
								<%= content_tag :h3, class: 'panel-title' do %>
								Filter by Length Range-
								<% end %>
							<% end %>
							<%= content_tag :div, class: 'panel-body' do %>
								<%= tag :input, id: 'length-range', type: 'range', min: '0', max: '100', value: '50' %>
								<%= content_tag :span, id: 'selected-length-range' do %>
								50
								<% end %>
							<% end %>
						<% end %>
						<%= content_tag :div, class: 'panel' do %>
							<%= content_tag :div, class: 'panel-heading' do %>
								<%= content_tag :h3, class: 'panel-title' do %>
								Filter by Width Range-
								<% end %>
							<% end %>
							<%= content_tag :div, class: 'panel-body' do %>
								<%= tag :input, id: 'width-range', type: 'range', min: '0', max: '100', value: '50' %>
								<%= content_tag :span, id: 'selected-width-range' do %>
								50
								<% end %>
							<% end %>
						<% end %>
					[%/PARAM%]
				[%/PRODUCT_FILTER%]
				[%PRODUCT_FILTER type:'category' limit:'100' autohide:'0' filter_parent_content:'1'%]
					[%PARAM header%]
						<li class="list-group-item">
							<h4>Filter by Category</h4>
						</li>
					[%/PARAM%]
					[%PARAM *body%]
						[%DATA id:'selected' if:'==' value:'1'%]
							[%PARAM *if_true%]
							<li class="filter-remove"><a href="[@remove_url@]" class="list-group-item" rel="nofollow">
							[@name@]</a>
							</li>
							[%/PARAM%]
							[%PARAM *if_false%]
								<li class="filter">
								<a href="[@url@]" class="list-group-item">[@name@]</a>
								</li>
							[%/PARAM%]
						[%/DATA%]
					[%/PARAM%]
				[%/PRODUCT_FILTER%]

				[%PRODUCT_FILTER type:'price' limit:'6'%]
					[%PARAM header%]
						<li class="list-group-item "><h4>Filter by Price</h4></li>
					[%/PARAM%]
					[%PARAM *body%]
						[%DATA id:'selected' if:'==' value:'1'%]
							[%PARAM *if_true%]
								<li class="filter-remove"><a href="[@remove_url@]" class="list-group-item" rel="nofollow">
									[@name@] </a>
								</li>
							[%/PARAM%]
							[%PARAM *if_false%]
								[%DATA id:'min' if:'=' value:'0'%]
									[%DATA id:'max' if:'>' value:'0'%]
										<li class="filter"><a class="list-group-item" href="[@url@]">[%FORMAT type:'currency' dp:'0'%][@max@][%/FORMAT%] or below</a></li>
									[%/DATA%]
								[%/DATA%]
								[%DATA id:'min' if:'>' value:'0'%]
									[%DATA id:'max' if:'>' value:'0'%]
										<li class="filter"><a class="list-group-item" href="[@url@]">[%FORMAT type:'currency' dp:'0'%][@min@][%/FORMAT%] to [%FORMAT type:'currency' dp:'0'%][@max@][%/FORMAT%]</a></li>
									[%/DATA%]
								[%/DATA%]
								[%DATA id:'max' if:'=' value:'0'%]
									<li class="filter"><a class="list-group-item" href="[@url@]">[%FORMAT type:'currency' dp:'0'%][@min@][%/FORMAT%] or above</a></li>
								[%/DATA%]
							[%/PARAM%]
						[%/DATA%]
					[%/PARAM%]
				[%/PRODUCT_FILTER%]
				[%PRODUCT_FILTER type:'brand' limit:'50' autohide:'0'%]
					[%PARAM header%]
						<li class="list-group-item"><h4>Filter by Brand</h4></li>
					[%/PARAM%]
					[%PARAM *body%]
						[%DATA id:'selected' if:'==' value:'1'%]
							[%PARAM *if_true%]
								<li class="filter-remove"><a href="[@remove_url@]" class="list-group-item" rel="nofollow">
									[@brand@]</a>
								</li>
							[%/PARAM%][%PARAM *if_false%]
								<li class="filter">
									<a href="[@url@]" class="list-group-item">[@brand@]</a>
								</li>
							[%/PARAM%]
						[%/DATA%]
					[%/PARAM%]
					[%PARAM more%]
						<li class="lv1"><a class="list-group-item" href="[%URL type:'page' id:'brands'%][%/URL%]">Show all brands...</a></li>
					[%/PARAM%]
				[%/PRODUCT_FILTER%]
			</ul>
		</div>
		[%thumb_list type:'product_reviews' template:'category-reviews' filter_category:'[@id@]' limit:'10'%]
		    [%param *header%]
				<div class="wrapper-category-reviews">
					<hr>
			        <h3>Product Reviews</h3>
					<div id="category-reviews">
		    [%/param%]
		    [%param *footer%]
					</div>
					<hr>
				</div>
		    [%/param%]
		[%/thumb_list%]
	[%/IF%]
	[%CACHE type:'cmenu' id:'sidebar'%]
	[%CATEGORYMENU sortby:'sortorder,selected,name' show_empty:'1'%]
		[%PARAM header%]
			<div class="wrapper-sidebar-menu hidden-xs">
				<h3>Categories</h3>
				<ul class="list-group">
				[%/PARAM%]
				[%PARAM *level_1%]
					<li class="[%DATA id:'next_level' if:'ne' value:''%]dropdown dropdown-hover[%/DATA%]"><a href="[@url@]" class="list-group-item dropdown-toggle">[@name@]</a>
						[%DATA id:'next_level' if:'ne' value:''%]
							<ul class="dropdown-menu dropdown-menu-horizontal">
								[@next_level@]
							</ul>
						[%/DATA%]
					</li>
				[%/PARAM%]
				[%PARAM *level_2%]
					<li class="[%DATA id:'next_level' if:'ne' value:''%]dropdown dropdown-hover[%/DATA%]">
						<a href="[@url@]">[@name@]</a>
						[%DATA id:'next_level' if:'ne' value:''%]
							<ul class="dropdown-menu dropdown-menu-horizontal">
								[@next_level@]
							</ul>
						[%/DATA%]
					</li>
				[%/PARAM%]
				[%PARAM *level_3%]
					<li class="lv3-li">
						<a href="[@url@]">[@name@]</a>
					</li>
				[%/PARAM%]
				[%PARAM footer%]
				</ul>
			</div>
		[%/PARAM%]
	[%/CATEGORYMENU%]
	[%/CACHE%]
	[%MENU id:'web_information'%]
		[%PARAM header%]
			<div class="wrapper-sidebar-menu hidden-xs">
				<h3>Information</h3>
				<ul class="list-group">
				[%/PARAM%]
				[%PARAM *level_1%]
					<li class="[%if [@next_level@]%]dropdown-submenu[%/if%]"><a class="list-group-item" href="[@url@]">[@name@]</a>
						[%if [@next_level@]%]
							<ul class="dropdown-menu">
								[@next_level@]
							</ul>
						[%/if%]
					</li>
				[%/PARAM%]
				[%PARAM *level_2%]
					<li class="[%if [@next_level@]%]dropdown-submenu[%/if%]">
						<a href="[@url@]">[@name@]</a>
						[%if [@next_level@]%]
							<ul class="dropdown-menu">[@next_level@]</ul>
						[%/if%]
					</li>
				[%/PARAM%]
				[%PARAM *level_3%]
					<li class="lv3-li">
						<a href="[@url@]">[@name@]</a>
					</li>
				[%/PARAM%]
				[%PARAM footer%]
				</ul>
			</div>
		[%/PARAM%]
	[%/MENU%]
</div>
<div class="col-xs-12 col-sm-10">
	MUI.ready(function() {
		var heightRange = MUI.getElement("height-range");
		var selectedHeightRange = MUI.getElement("selected-height-range");
	
		var lengthRange = MUI.getElement("length-range");
		var selectedLengthRange = MUI.getElement("selected-length-range");
	
		var widthRange = MUI.getElement("width-range");
		var selectedWidthRange = MUI.getElement("selected-width-range");
	
		MUI.addEventListener(heightRange, "input", function() {
			selectedHeightRange.innerHTML = heightRange.value;
		});
		MUI.addEventListener(lengthRange, "input", function() {
			selectedLengthRange.innerHTML = lengthRange.value;
		});
		MUI.addEventListener(widthRange, "input", function() {
			selectedWidthRange.innerHTML = widthRange.value;
		});
	});

